server {
    listen 80;
    server_name ${SERVER_NAME};
    
    location = /self-service {
        return 301 $scheme://$http_host/self-service/;
    }

    location /self-service/ {
        alias /usr/share/nginx/html/;
        try_files $uri $uri/ /index.html;
        include /etc/nginx/mime.types;
    }
}