<div class="md-padding" layout="row" layout-align="center" flex>
    <md-card flex flex-gt-md="60">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ 'label.heading.applyshares' | translate }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <form name="shareApplicationForm" ng-submit="shareApplicationForm.$valid && vm.submit()">
                <api-validate></api-validate>
                <md-input-container class="md-block md-icon-float">
                    <label>{{ 'label.input.sharesproductOptions' | translate }}</label>
                    <md-select ng-model="vm.form.productId" ng-change="vm.getSharesTemplate(vm.clientId, vm.form.productId)" required>
                        <md-option ng-repeat="productOption in vm.template.productOptions" ng-value="productOption.id">
                            {{ productOption.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <br />
                <div ng-if="vm.form.productId">
                    <md-input-container class="md-block">
                        <label>{{ 'label.input.numberOfShares' | translate }}</label>
                        <input type="number" name="requestedShares" ng-model="vm.form.requestedShares" min="{{vm.template.minimumShares}}" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'label.input.todaysPrice' | translate }}</label>
                        <input name="todaysPrice" value="{{vm.template.nominalPrice}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'label.input.defaultSavingsAccount' | translate }}</label>
                        <md-select ng-model="vm.form.savingsAccountId" required>
                            <md-option ng-repeat="account in vm.savingsAccounts" ng-value="account.id">
                                {{ account.accountNo }} - {{ account.productName }}
                            </md-option>
                        </md-select>
                        <div class="md-errors-spacer" ng-if="!vm.savingsAccounts.length">
                            <div class="md-error">No savings accounts available</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'label.input.currency' | translate }}</label>
                        <input name="currency" value="{{vm.template.currency.name}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>{{ 'label.input.applicationDate' | translate }}</label>
                        <md-datepicker ng-model="vm.form.applicationDate" md-placeholder="Application Date" required>
                        </md-datepicker>
                    </md-input-container>
                    <md-input-container layout="row">
                        <label>{{ 'label.input.submittedOn' | translate }}</label>
                        <span flex></span>
                        <input value="{{ vm.form.submittedDate }}" disabled>
                    </md-input-container>
                </div>
                <br />
                <div layout="row" flex>
                    <md-button flex class="md-warn" ng-click="vm.clearForm()">{{ 'label.btn.cancel' | translate }}</md-button>
                    <md-button type="submit" flex class="md-raised md-primary" ng-disabled="shareApplicationForm.$invalid">
                        {{ 'label.btn.apply' | translate }}
                    </md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>

